USE [master]
GO
/****** Object:  Database [bdVendasTB]    Script Date: 28/10/2024 10:57:51 ******/
CREATE DATABASE [bdVendasTB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdVendasTB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdVendasTB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdVendasTB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdVendasTB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdVendasTB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdVendasTB]
GO
/****** Object:  User [usuario22024]    Script Date: 28/10/2024 10:57:51 ******/
CREATE USER [usuario22024] FOR LOGIN [usuario22024] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuario22024]
GO
/****** Object:  Table [dbo].[tbCliente]    Script Date: 28/10/2024 10:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cpfCnpj] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[telefone] [nvarchar](50) NULL,
	[endereco] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbCliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbFuncionario]    Script Date: 28/10/2024 10:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbFuncionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[cargo] [nvarchar](50) NULL,
	[salario] [decimal](18, 0) NULL,
	[dataAdmissao] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbItemVenda]    Script Date: 28/10/2024 10:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbItemVenda](
	[produtoId] [int] IDENTITY(1,1) NOT NULL,
	[vendaId] [int] NULL,
	[quantidadeProduto] [int] NULL,
	[precoUnitario] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tbItemVenda] PRIMARY KEY CLUSTERED 
(
	[produtoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPedido]    Script Date: 28/10/2024 10:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dataPedido] [datetime] NULL,
	[funcionarioId] [int] NULL,
	[clienteId] [int] NULL,
	[valorTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tbPedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProduto]    Script Date: 28/10/2024 10:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProduto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[descricao] [nvarchar](50) NULL,
	[quantidadeEstoque] [int] NULL,
	[unidadeMedida] [nvarchar](50) NULL,
	[precoUnitario] [decimal](18, 0) NULL,
	[imgProduto] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbProduto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
