@page "/funcionarios"
@using BlazorVendasTB.Service.Interface
@inject IFuncionarioService FuncionarioService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Funcionarios Cadastrados</h3>
<div class="card">
    <div class="card-body">

        <div>

        </div>

    </div>
</div>

@code {

}
